<footer>
    <div class="footer-content">
        <div class="links">
            <a href="/">
                <span>Home</span>
            </a>
            <a href="/projects/">
                <span>Projects</span>
            </a>
            <a href="/assets/resume/CV.pdf" target="_blank" rel="noopener noreferrer">
                <span>Resume</span>
            </a>
        </div>
    </div>
    <div class="license">
        <span>For any question or help for any projects, reach out <a class="help" href="mailto:mhamzakhalid53@gmail.com"> Here</a> </span>
        <p>This is a Portfolio Website © 2025 by M Hamza Khalid</p>
    </div>
</footer>
